<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.infrastructure.EntityMapper">
    <resultMap id="EntityResultMap" type="com.example.domain.Entity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="findAll" resultMap="EntityResultMap">
        SELECT * FROM public.entities
    </select>

    <select id="findById" parameterType="long" resultMap="EntityResultMap">
        SELECT * FROM entities WHERE id = #{id}
    </select>

    <insert id="save" parameterType="com.example.domain.Entity">
        INSERT INTO public.entities (id, name) VALUES (#{id}, #{name})
    </insert>

    <delete id="deleteById" parameterType="long">
        DELETE FROM entities WHERE id = #{id}
    </delete>
</mapper>