<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.infrastructure.tcp_ip.ReceivedMessageMapper">
    <select id="getLastId" resultType="java.lang.Integer">
        SELECT MAX(id) FROM received_message
    </select>

    <insert id="insertMessage">
        INSERT INTO received_message (id, message) VALUES (#{id}, #{message})
    </insert>

    <select id="findAll" resultType="com.example.domain.ReceivedMessage">
        SELECT * FROM received_message
    </select>

    <select id="findLatestMessages" resultType="com.example.domain.ReceivedMessage">
        SELECT * FROM received_message ORDER BY id DESC LIMIT 10
    </select>

    <select id="findReceivedMessages" resultType="com.example.domain.ReceivedMessage">
        SELECT * FROM received_message LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countTotalMessages" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM received_message
    </select>
</mapper>
